<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>att_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,0},{303,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,210}}</string>
                <key>sourceSize</key>
                <string>{303,210}</string>
            </dict>
            <key>att_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,679},{303,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,210}}</string>
                <key>sourceSize</key>
                <string>{303,210}</string>
            </dict>
            <key>base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,469},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>bg1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{541,0},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>bg2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,940},{20,20}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,940},{20,20}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,890},{272,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,49}}</string>
                <key>sourceSize</key>
                <string>{272,49}</string>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,211},{307,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,82}}</string>
                <key>sourceSize</key>
                <string>{307,82}</string>
            </dict>
            <key>body.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1386,679},{224,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,160}}</string>
                <key>sourceSize</key>
                <string>{224,160}</string>
            </dict>
            <key>branch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,679},{237,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,115}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>die.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,727},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,519},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,727},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,211},{284,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,88}}</string>
                <key>sourceSize</key>
                <string>{284,88}</string>
            </dict>
            <key>newScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,0},{193,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{193,61}}</string>
                <key>sourceSize</key>
                <string>{197,65}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,0},{468,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,678}}</string>
                <key>sourceSize</key>
                <string>{468,678}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,838},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,469},{203,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,126}}</string>
                <key>sourceSize</key>
                <string>{203,126}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,496},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>role.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,211},{196,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,257}}</string>
                <key>sourceSize</key>
                <string>{196,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timberman.png</string>
            <key>size</key>
            <string>{1919,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02459fd2f79edade40ea3689f67ff6a$</string>
            <key>textureFileName</key>
            <string>timberman.png</string>
        </dict>
    </dict>
</plist>
